.main {
  width: 585px;
  height: 569px;
  border: 1px;
  position: absolute;
  top: 0px;
  left: 54px;
  border-radius: 0px 8px 8px 0px;
  background-color: white;
}

.title {
  width: auto;
  height: auto;
  margin: 0px 0px 0px 8px;
}

.picture {
  width: 598px;
  display: flex;
  justify-content: center;
  align-items: center;
  object-fit: contain;
  margin: 8px 0px 8px 0px;
}

.image {
  height: 441px;
}
